version: '3'

services:
  web:
    build:
      context: ./
    tty: true
    ports:
      - 4000:4000
    command: ["mix", "phx.server"]
    env_file:
        - blizzard.env
        - phx.env
        - .env
    environment:
      - MIX_ENV=dev

  database:
    image: sameersbn/postgresql:latest
    environment:
      - PG_PASSWORD=password
      - DB_NAME=wow_dev
      - DB_EXTENSION=pg_trgm
    ports:
      - 5432:5432

  redis:
    image: redis
    ports:
      - 6379:6379
