<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Auction Totem</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head>
  <body>
    <header class="header">
      <nav role="navigation">
        <div></div>
        <div class="search">
          <form class="header-form" action="/items" method="get" autocomplete="off">
            <div>
              <select id="region" name="region">
                <option value="eu">EU</option>
                <option value="us">US</option>
              </select>
            </div>
            <div>
              <select id="realm" name="realm">
                <option value="Kazzak">Kazzak</option>
                <option value="Medivh">Medivh</option>
              </select>
            </div>
            <div>
              <div id="recommendation-template" style="display: none" class="recommendation-row">
                <div class="recommendation-item">
                  <img class="recommendation-icon" src=""/>
                  <p class="recommendation-name"></p>
                </div>
              </div>
              <input type="text" class="search-box" name="item_name" id="item-name" placeholder="Object's name" required>
              <div id="recommendation-box" class="recommendation-box" style="display: none;">
              </div>
            </div>
            <div>
              <input type="submit" value="Search">
            </div>
          </form>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
