<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Auction Totem</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
  </head>
  <body>
    <header class="header">
      <nav role="navigation">
        <div class="home-link-container"><b><a href="/" class="home-link">AuctionTotem</a></b></div>
        <div class="search">
          <form class="header-form" action="/items" method="get" autocomplete="off">
            <div>
              <select id="region" name="region">
                <option value="eu">EU</option>
              </select>
            </div>
            <div>
              <select id="realm" name="realm">
                <option value="Kazzak">Kazzak</option>
              </select>
            </div>
            <div>
              <input type="text" class="search-box" name="item_name" id="item-name" placeholder="Object's name" required>
              <div id="recommendation-box" class="recommendation-box" style="display: none;">
              </div>
            </div>
            <div>
              <input class="search-button" type="submit" value="Search">
            </div>
          </form>
        </div>
        <div class="right github-container">
          <a href="https://github.com/DrPandemic/royale-with-cheese" rel="noopener" target="_blank">
            <i class="github-icon"></i>
          </a>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <%= if Application.get_env(:wow, "ga_id") do %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131460059-1"></script>
      <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

       gtag('config', <%= Phoenix.json_library.encode_to_iodata!(Application.get_env(:wow, "ga_id")) %>);
      </script>
    <% end %>
 </body>
</html>
