<div class="home-container">
  <div>
    <h1>Most expensive items in the last day</h1>
    <i class="loading-icon" id="loading-expensive"></i>
    <span id="expensive"></span>
  </div>
  <div>
    <h1>Most present items in the last day</h1>
    <i class="loading-icon" id="loading-present"></i>
    <span id="present"></span>
  </div>
</div>

<script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/appHome.js") %>" async="true"></script>
